.title {
  margin-bottom: 50px;
}
.title p {
  color: #adadad;
  text-align: start;
  margin-bottom: 10px;
}
.heading {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.mainpara {
  margin-top: 50px;
  display: flex;
}
.para {
  color: #acacac;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.btn {
  background-color: #eefaf6;
  border: 2px solid #16ce8b;
  border-radius: 20px;
  font-size: 12px;
  color: #16ce8b;
  cursor: pointer;
  padding: 5px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 1.5rem;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #16ce8b;
  color: #eefaf6;
}
.head1 {
  margin-left: 25px;
  margin-top: 25px;
}

/* piano */
/* .piano {
} */
.piano_desk {
  height: 250px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.piano_desk::before {
  content: '"An amateur practices until he can do a thing right, a professional until he can’t do it wrong."';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 22px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  padding: 0 20px;
  line-height: 1.7;
}
.piano_desk::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  mask-repeat: no-repeat;
  mask-size: 18rem;
  mask-position: 103% 40%;
  transition: all 0.3s ease-in-out;
}

.piano_desk.web {
  background-color: #007dfe !important;
}
.piano_desk.web::before {
  content: "Web Development";
  text-transform: uppercase;
}
.piano_desk.web::after {
  mask-image: url("../../images/demo_images/earth-grid.svg");
}
.piano_desk.ui {
  background-color: #9e29f1 !important;
}
.piano_desk.ui::before {
  content: "UI/UX Design";
  text-transform: uppercase;
}
.piano_desk.ui::after {
  mask-image: url("../../images/demo_images/ux-design.svg");
}
.piano_desk.game {
  background-color: #16ce8b !important;
}
.piano_desk.game::before {
  content: "Gaming";
  text-transform: uppercase;
}
.piano_desk.game::after {
  mask-image: url("../../images/demo_images/gamepad.svg");
}
.piano_desk.robot {
  background-color: #f5b015 !important;
}
.piano_desk.robot::before {
  content: "Robotics";
  text-transform: uppercase;
}
.piano_desk.robot::after {
  mask-image: url("../../images/demo_images/robot.svg");
}
.piano_desk.ai {
  background-color: #35c4ff !important;
}
.piano_desk.ai::before {
  content: "AI Programming";
  text-transform: uppercase;
}
.piano_desk.ai::after {
  mask-image: url("../../images/demo_images/brain.svg");
}
.piano_desk.app {
  background-color: #f10f10 !important;
}
.piano_desk.app::before {
  content: "App Development";
  text-transform: uppercase;
}
.piano_desk.app::after {
  mask-image: url("../../images/demo_images/apps.svg");
}
.piano_desk.mobility {
  background-color: #059890 !important;
}
.piano_desk.mobility::before {
  content: "Mobility Solutions";
  text-transform: uppercase;
}
.piano_desk.mobility::after {
  mask-image: url("../../images/demo_images/mobile-phone.svg");
}
.piano_desk.cloud {
  background-color: #ff3262 !important;
}
.piano_desk.cloud::before {
  content: "Cloud Computing";
  text-transform: uppercase;
}
.piano_desk.cloud::after {
  mask-image: url("../../images/demo_images/cloud.svg");
}

.keys_container {
  display: flex;
  height: 300px;
  width: 100%;
  position: relative;
}
.key {
  height: 100%;
  width: 6%;
  border: 2px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.key span {
  position: absolute;
  bottom: 20px;
}
.key:active {
  background-color: rgba(0, 0, 0, .3);
}
.key[data-key="1"]:active{
  background-color: rgba(0, 125, 254, .7)!important;
}
.key[data-key="2"]:active{
  background-color: rgba(158, 41, 241, .7)!important;
}
.key[data-key="3"]:active{
  background-color: rgba(10, 204, 134, .7)!important;
}
.key[data-key="4"]:active{
  background-color: rgba(245, 176, 21, .7)!important;
}
.key[data-key="5"]:active{
  background-color: rgba(53, 196, 255, .7)!important;
}
.key[data-key="6"]:active{
  background-color: rgba(241, 15, 16, .7)!important;
}
.key[data-key="7"]:active{
  background-color: rgba(5, 152, 144, .7)!important;
}
.key[data-key="8"]:active{
  background-color: rgba(255, 50, 98, .7)!important;
}

.black_key {
  position: absolute;
  height: 60%;
  width: 4%;
  border: 2px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #000;
  z-index: 1;
}
.black_key:active {
  background-color: #333;
}
.black_key[data-key="b1"] {
  left: 3.2%;
}
.black_key[data-key="b2"] {
  left: 8.4%;
}
.black_key[data-key="b3"] {
  left: 13.8%;
}
.black_key[data-key="b4"] {
  left: 24.2%;
}
.black_key[data-key="b5"] {
  left: 29.5%;
}
.black_key[data-key="b6"] {
  left: 34.8%;
}
.black_key[data-key="b7"] {
  left: 45.2%;
}
.black_key[data-key="b8"] {
  left: 50.4%;
}
.black_key[data-key="b9"] {
  left: 55.8%;
}
.black_key[data-key="b10"] {
  left: 66.4%;
}
.black_key[data-key="b11"] {
  left: 71.6%;
}
.black_key[data-key="b12"] {
  left: 82.2%;
}
.black_key[data-key="b13"] {
  left: 87.4%;
}
.black_key[data-key="b14"] {
  left: 92.6%;
}

.demo_mask_container {
  background-color: blue;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.demo_mask {
  background-color: white;
  width: 20px;
  height: 20px;
  transition: all 0.4s ease-in-out;
  margin: auto;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}
.mask_brain {
  background-color: #35c4ff;
}
.mask_apps {
  background-color: #f10f10;
}
.mask_cloud {
  background-color: #ff3262;
}
.mask_earth {
  background-color: #007dfe;
}
.mask_gamepad {
  background-color: #0acc86;
}
.mask_uiux {
  background-color: #9e29f1;
}
.mask_robot {
  background-color: #f5b015;
}
.mask_mobile {
  background-color: #059890;
}
.mask_brain .demo_mask {
  mask-image: url("../../images/course_images/brain.svg");
}
.mask_apps .demo_mask {
  mask-image: url("../../images/course_images/apps.svg");
}
.mask_cloud .demo_mask {
  mask-image: url("../../images/course_images/cloud.svg");
}
.mask_earth .demo_mask {
  mask-image: url("../../images/course_images/earth-grid.svg");
}
.mask_gamepad .demo_mask {
  mask-image: url("../../images/course_images/gamepad.svg");
}
.mask_mobile .demo_mask {
  mask-image: url("../../images/course_images/mobile-phone.svg");
}
.mask_uiux .demo_mask {
  mask-image: url("../../images/course_images/ux-design.svg");
}
.mask_robot .demo_mask {
  mask-image: url("../../images/course_images/robot.svg");
}

/* --- Media_query --- */

@media screen and (max-width: 992px) {
  .head1 {
    margin-left: 0;
    text-align: center;
  }
  .demo_mask_container {
    margin-left: auto;
    margin-right: auto;
  }
  .heading {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .title {
    margin-bottom: 10px;
  }
  .button1 {
    margin-left: auto;
  }
}
@media screen and (max-width:767px) {
  .piano_desk::after {
    mask-size: 16rem;
    mask-position: 110% 30%;
  }
}