.col1 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.instImg {
  max-width: 200px;
  max-height: 200px;
  margin-left: 40px;
  height: 100%;
}
.partImg {
  max-width: 200px;
  max-height: 200px;
  margin-left: 40px;
  height: 100%;
}

.heading {
  line-height: 1.95rem;
  color: #343434;
  margin-bottom: 30px;
}

.para {
  font-size: 15px;
  color: #acacac;
}
.btn,
.btn1 {
  background-color: #864dce;
  color: white;
  font-size: 12px;
  padding: 8px 40px;
  font-weight: normal;
  border: 1px solid #864dce;
  border-radius: 50px;
}
.btn1 {
  background-color: #e8505c;
  border: 1px solid #e8505c;
}
.partner_bg {
  background: #fff;
  background: linear-gradient(to bottom, #e1f9f1 0%, #fff 50%, #fff 100%);
  margin-top: 50px;
  position: relative;
}

/* ---- Media-Query ---- */

@media screen and (max-width: 992px) {
  .col1 {
    border-right: none;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .partCol {
    margin-bottom: 30px;
  }
}
