.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.max_width_1360 {
    width: 100%;
    max-width: 1360px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.align_items_center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.align_items_end {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.overflow_hidden {
    overflow: hidden;
    max-width: 1350px;
    margin: 0 auto;
}
.padding_tb_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.padding_t_110 {
    padding-top: 110px;
}
.margin_l_15 {
    margin-left: 15px;
}
.margin_t_100 {
    margin-top: 100px;
}
.margin_b_100 {
    margin-bottom: 100px;
}
.margin_b_30 {
    margin-bottom: 30px;
}
.margin_b_15 {
    margin-bottom: 15px;
}
.margin_lr_auto {
    margin-left: auto;
    margin-right: auto;
}
.margin_l_auto {
    margin-left: auto;
}
.margin_r_auto {
    margin-right: auto;
}
.padding_t_100 {
    padding-top: 100px;
}
.padding_b_100 {
    padding-bottom: 100px;
}
.padding_t_50 {
    padding-top: 50px;
}
.padding_b_50 {
    padding-bottom: 50px;
}
.border_r_1px {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
/* ----------------------------------- */
/* =========== MEDIA-QUERY =========== */
/* ----------------------------------- */

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .container {
        max-width: 540px;
    }
}

/* --- lg --- */
@media screen and (max-width:1200px) {
    .padding_lg_t_70 {
        padding-top: 70px;
    }
    .margin_lg_l_none {
        margin-left: 0;
    }
}

/* --- md --- */

@media screen and (max-width:992px) {
    .padding_md_t_40 {
        padding-top: 40px;
    }
    .margin_md_lr_25 {
        margin-left:25px;
        margin-right: 25px;
    }
    .margin_lg_b_30 {
        margin-bottom: 30px;
      }
}

/* --- sm ---*/

@media screen and (max-width:767px) {
    .margin_sm_lr_none {
        margin-left: 0;
        margin-right: 0;
    }
    .border_sm_r_none {
        border-right: none;
    }
    .text_align_sm_center {
        text-align: center;
    }
}