.whatsapp_fixed {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 999;
  bottom: 30px;
  right: 30px;
  background-color: #09d261 !important;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
.ripple {
  width: 100%;
  height: 100%;
  background-color: #09d261;
  position: absolute;
  top: 0;
  border-radius: 50%;
  animation: ripple-effect 1s ease-in-out infinite;
  z-index: -1;
}

.web_dev_category,
.app_dev_category,
.gaming_category,
.designing_category,
.robotics_category,
.mnc_training_category {
  border-radius: 5px;
  font-size: 11px;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 0.95rem;
  font-weight: 500;
  outline: none;
  width: fit-content;
  height: fit-content;
}
.web_dev_category {
  background-color: #017cfe !important;
  border: 1px solid #017cfe !important;
}
.web_dev_category::before {
  content: "Web Development";
}
.app_dev_category {
  background-color: #f10f10 !important;
  border: 1px solid #f10f10 !important;
}
.app_dev_category::before {
  content: "App Development";
}
.gaming_category {
  background-color: #01e26c !important;
  border: 1px solid #01e26c !important;
}
.gaming_category::before {
  content: "Gaming";
}
.designing_category {
  background-color: #9e29f1 !important;
  border: 1px solid #9e29f1 !important;
}
.designing_category::before {
  content: "Designing";
}
.robotics_category {
  background-color: #f5b015 !important;
  border: 1px solid #f5b015 !important;
}
.robotics_category::before {
  content: "Robotics";
}
.mnc_training_category {
  background-color: #059890 !important;
  border: 1px solid #059890 !important;
}
.mnc_training_category::before {
  content: "MNC Training";
}

/* --- KEY FRAMES --- */
@keyframes ripple-effect {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
