.bg {
  background-color: #f4f9ff;
}
.title {
  margin-right: 30px;
}
.title p {
  color: #adadad;
  margin-bottom: 10px !important;
}
.subTitle {
  font-size: 16px;
  border-left: 1px solid #adadad;
  padding-left: 70px;
  display: flex;
  align-items: center;
}
.subTitle p {
  margin-bottom: 0;
}
.title_wrapper {
  display: flex;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mainDiv {
  margin-top: 50px;
  margin-left: 60px;
  display: flex;
}
.headerPara {
  color: #acacac;
  font-size: 15px;
  font-weight: 400;
}
.head {
  color: #343434;
  font-weight: 500;
  margin-top: -20px;
}
.paraHead {
  margin-top: 10px;
}
.line {
  border-left: 1px solid #999999;
  height: 80px;
  margin-left: 90px;
}
.para1 {
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}
.para2 {
  font-size: 15px;
  margin-left: 30px;
  margin-top: -30px;
}
.button {
  background-color: #7665ff;
  color: white;
  font-size: 12px;
  border: 2px solid #7665ff;
  border-radius: 25px;
  padding: 7px 30px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: white;
  color: #7665ff;
}
.featurebtn {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.navItem {
  border: 1px solid #fff;
  margin: 40px 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, .02);
}
.list {
  display: flex;
  list-style: none;
  margin: 0px;
}
.list li {
  margin: 0;
  padding: 0px 23px;
  width: calc(100% / 6);
  display: flex;
}
.list_active button {
  border-bottom: 3px solid #0ac986 !important;
}
.list button {
  border: none;
  outline: none;
  width: fit-content;
  background-color: transparent;
  color: #0a141e;
  padding: 15px 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  text-overflow: ellipsis;
  border-bottom: 3px solid transparent;
}
.total {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  padding: 20px 0;
  width: 100%;
  max-width: 100%;
  margin-left: 70px;
}
.card_container {
  margin-bottom: 30px;
}
.card {
  width: 100%;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, .02);
  border: 1px solid white;
  background-color: white;
  border-radius: 10px;
  padding: 55px 25px;
  height: 100%;
}
.btn {
  border-radius: 5px;
  font-size: 11px;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 0.95rem;
  font-weight: 500;
  outline: none;
}
.button1 {
  margin-top: -100px;
  margin-left: 10px;
  /* display: flex; */
}
.bgcolor_blue {
  background-color: #017cfe !important;
  border: 1px solid #017cfe !important;
}
.bgcolor_red {
  background-color: #f10f10 !important;
  border: 1px solid #f10f10 !important;
}
.bgcolor_green {
  background-color: #01e26c !important;
  border: 1px solid #01e26c !important;
}
.head1 {
  margin-top: 10px;
  width: 85%;
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
  font-weight: 600;
}
.img {
  max-width: 280px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.totalContent {
  margin-top: 70px;
}
li button:hover {
  color: #0ac986;
}

@media screen and (max-width: 992px) {
  .title_wrapper {
    flex-direction: column;
  }
  .list1 {
    border-bottom: 5px solid #0ac986;
  }
  .md_icon {
    display: none;
  }
  .total {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    padding: 20px 0;
    width: 100%;
    max-width: 100%;
    margin-left: 70px;
  }
  .card_container {
    margin-bottom: 30px;
  }
  .subTitle {
    border-left: none;
    padding-left: 0px;
  }
  .heading {
    flex-direction: column;
  }
  .newsbtn {
    margin-left: 0px;
    align-self: flex-end;
  }
}
@media screen and (max-width: 992px) {
  .title_wrapper {
    flex-direction: column;
  }
  .subTitle {
    border-left: none;
    padding-left: 0px;
  }
  .heading {
    flex-direction: column;
  }
  .featurebtn {
    justify-content: flex-end;
  }
  .newsbtn {
    margin-left: 0px;
    align-self: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .md_icon {
    display: block;
    padding: 5px 0;
  }
  .text {
    display: none;
  }
}
@media screen and (max-width:567px) {
  .list li {
    padding-left: 0;
    padding-right: 0;
  }
}