.title {
  margin-right: 70px;
}
.title p {
  color: #adadad;
  margin-bottom: 10px;
}
.subTitle {
  font-size: 16px;
  border-left: 1px solid #adadad;
  padding-left: 70px;
  display: flex;
  align-items: center;
}
.title_wrapper {
  display: flex;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mainDiv {
  margin-top: 50px;
  margin-left: 60px;
  display: flex;
}
.headerPara {
  color: #acacac;
  font-size: 15px;
}
.head {
  color: #343434;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-top: -20px;
  
}
.paraHead {
  margin-top: 10px;
}
.line {
  border-left: 1px solid #999999;
  height: 80px;
  margin-left: 90px;
}
.para1 {
  font-size: 15px;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-left: 30px;
  margin-top: 10px;
}
.para2 {
  font-size: 15px;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-left: 30px;
  margin-top: -30px;
}
.button {
  background-color: #0acc86;
  color: white;
  font-size: 12px;
  border: 1px solid #0acc86;
  border-radius: 25px;
  padding: 10px 40px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.newsbtn {
  margin-left: 55px;
  display: flex;
  align-items: center;
}
.img {
  max-width: 300px;
  max-height: 300px;
  display: block;
}
.row {
  display: flex;
  flex-basis: calc(100% / 3);
}
.totalcol1 {
  display: flex;
  width: 60%;
}
.totalcol2 {
  margin-left: 10px;
}
.btn {
  background-color: #017cfe;
  border: 1px solid #017cfe;
  border-radius: 5px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  line-height: 0.95rem;
  font-weight: bold;
}
.button1 {
  margin-top: 36px;
  margin-left: 50px;
  /* display: flex; */
}
.date {
  font-size: 16px;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-left: 20px;
  margin-top: 33.5px;
  font-weight: 500;
  color: #343434;
}
.para3 {
  display: flex;
  /* justify-content: space-between; */

  /* margin-left: 30px; */
}
.contentTitle {
  margin-left: 50px;
  margin-top: -20px;
  cursor: pointer;
  font-weight: 500;
}
.para4 {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #343434;
  font-size: 15px;
  margin-left: 50px;
  margin-top: -5px;
  font-weight: 400;
}
.button3 {
  margin-left: 50px;
  margin-top: -15px;
}
.button2 {
  height: 15px;
  line-height: 2px;
  width: 15px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  padding: 0px 0px;

  background-color: white;
  border: 1.45px solid #343434;
  color: #343434;
  text-align: center;
  cursor: pointer;
  /* margin: 0 auto;
    vertical-align: middle; */
}
.para5 {
  display: flex;
}
.para6 {
  font-size: 12px;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-left: 10px;
  margin-top: -13px;
  font-weight: 600;
  cursor: pointer;
}
.month1 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.sidebarline {
  border-right: 1px solid #d6d6d6;
  /* display: inline-block; */
  margin-left: 20px;
}
.head1 {
  display: flex;
  padding-top: 10px;
}
.button4 {
  margin-top: -10px;
  margin-left: 20px;
}
.sidebarTitle {
  padding-top: 15px;
  cursor: pointer;
  line-height: 1.3;
  font-weight: 500;
}
.bottomLine {
  border-bottom: 1px solid #d6d6d6;
  margin-top: -10px;
}
.totalDiv {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.totalDiv:last-child {
  border-bottom: none;
}

@media screen and (max-width: 992px) {
  .title_wrapper {
    flex-direction: column;
  }
  .subTitle {
    border-left: none;
    padding-left: 0px;
  }
  .heading {
    flex-direction: column;
  }
  .newsbtn {
    margin-left: 0px;
    align-self: flex-end;
  }
}
@media screen and (max-width:567px) {
  .para5 {
    margin-bottom: 30px;
  }
  .button3 {
    margin-left: 0;
  }
  .para4 {
    margin-left: 0;
  }
  .contentTitle {
    margin-left: 0;
  }
  .button1 {
    margin-left: 0;
  }
}