.container {
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    z-index: 3;
    height: 77px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky_header {
    z-index: 999;
    height: 67px;
    background-color: #071657;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}
.sticky_header .linklist button {
    padding: 20px 20px;
}
.logo {
    margin: 0;
    margin-left: 20px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding:0 10px;
}
.catagory_search {
    display: flex;
}
.button_wrap {
    position: relative;
}
.catagory_search button {
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .34);
    padding: 7px 20px;
    font-size: 15px;
    background-color: #7665FF;
    color: #fff;
    transition: all .35s ease-in-out;
    height: 100%;
    /* margin-right: 15px; */
    font-weight: 500;
}
.catagory_search .button_wrap button:hover {
    color: #7969ff;
    background-color: #fff;
}
.catagory_list {
    position: absolute;
    background-color: #fff;
    color: #333;
    width: 200px;
    margin-top: 15px;
    transform: translateY(20px);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .14);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    z-index:99;
}
.catagory_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.catagory_list ul li {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 0;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.catagory_list ul li button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    width: 100%;
    text-align: start;
}
.catagory_list ul li:last-child {
    border-bottom: none;
}
.catagory_list ul li:hover {
    padding-left: 30px;
}
.catagory_list_active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
.catagory_list_wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 67px;
    left: 0;
}
.catagory_search .input_wrap {
    border: 1px solid rgba(0, 0, 0, .34);
    border-radius: 5px;
    padding: 7px 20px;
    padding-left: 33px;
    font-size: 15px;
    position: relative;
    background-color: rgba(0, 0, 0, .2);
}
.input_wrap input {
    border: none;
    outline: none;
    background-color: transparent;
    caret-color: #fff;
    color: #fff;
    width: 300px;
}
.input_wrap input::placeholder {
    color: #fff;
    opacity: .8;
    font-weight: 500;
}
.catagory_search .input_wrap::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 15px;
    position: absolute;
    left: 12px;
    margin-top: 2px;
    color: #fff;
}
.linklists ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.linklist {
    margin: 0;
    position: relative;
}
.linklist button {
    border:none;
    outline: none;
    background-color: transparent;
    color:#fff;
    padding: 25px 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.linklist button:hover {
    color:#7969ff
}
.linklist_active {
    border-bottom: 5px solid #3F51B5;
}
.linklist_active button{
    color: #3F51B5;
}
.inner_list {
    position: absolute;
    background-color: #fff;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .04);
    transform: translateY(20px);
    transition: all 0.4s ease-in-out;
}
.inner_list ul {
    display: block;
    width: 200px;
}
.inner_list ul li {
    display: block;
    padding: 10px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}
.inner_list ul li:hover {
    padding-left: 30px;
}
.inner_list ul li:last-child {
    border-bottom: none;
}
.linklist:hover .inner_list{
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}
.collapsedlinklist_btn{
    width: 29px;
    height: 29px;
    cursor: pointer;
    display: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
}
.collapsedlinklist_btn span {
    display: block;
    background: #3F51B5;
    height: 4px;
    margin-bottom: 4px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.collapsedlinklist_btn_expand span:first-child{
    margin: 0;
    transform: rotate(45deg);
}
.collapsedlinklist_btn_expand span:nth-child(2){
    margin: 0;
    transform: translateY(-4px) rotate(45deg);
}
.collapsedlinklist_btn_expand span:nth-child(3){
    margin: 0;
    transform: translateY(-8px) rotate(-45deg);
}
.collapsedlinklist_dropdown {
    position: absolute;
    display: none;
    right: 0;
    width: 450px;
    height: 0;
    background-color: #fff;
    margin-top: 15px;
    overflow: hidden;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    box-shadow: 0 0 35px rgba(0,0,0,.08);
}
.collapsedlinklist_dropdown ul {
    list-style: none;
    margin:0px;
}
.collapsedlinklist_dropdown ul li {
    margin: 0;
    border-top: 1px solid rgba(0,0,0,.05);
    cursor: pointer;
}
.collapsedlinklist_dropdown ul li button {
    border:none;
    outline: none;
    background-color: transparent;
    text-align: start;
    color: #9595a8;
    width: 100%;
    padding: 20px 30px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.collapsedlinklist_dropdown ul li button:hover {
    color: #0A141E;
}
/* --------------------------------------------- */
/* ---------------- MEDIA-QUERY ---------------- */
/* --------------------------------------------- */

@media screen and (max-width: 1200px) {
    .linklist button {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sticky_header .linklist button {
        padding-left: 15px;
        padding-right: 15px;
    }
    .input_wrap input {
        width: 150px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding:0px 15px;
    }
    .linklists {
        display: none;
    }
    .collapsedlinklist {
        position: relative;
    }
    .collapsedlinklist_btn {
        display: block;
    }
    .collapsedlinklist_dropdown {
        display: block;
    }
}
@media screen and (max-width:767px) {
    .catagory_search {
        display: none;
    }
    .logo {
        margin-left: 0px;
    }
}
@media screen and (max-width:576px) {
    .collapsedlinklist_dropdown {
        width: calc(100vw - 40px);
        right: -15px;
    }
}