@import "../../fonts/fontawesome-free-5.13.0-web/css/all.css";

.title {
    text-align: center;
    margin-bottom: 50px;
}
.title h4 {
    color: #adadad;
}

/* whyus section */
.section {
    
}
.section_container {
    display: flex;
}
.section_image {
    flex-basis: 20%;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}
.section_image img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.section_content {
    flex-basis: 80%;
}
.section_content h5 {
    font-size: 17px;
    margin-bottom: 20px;
}
.section_content p {
    font-size: 15px;
    color: #adadad;
}

/* whyus section 2 */
.section2_bg {
    height: 100%;
    width: 100%;
    background-color: #7969ff;
    background-image: url("../../images/pattern1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section2_title {
    color: #fff;
    margin-bottom: 50px;
}
.section2_title h2 {
    font-size: 32px;
}
.section2_description {
    color: #fff;
    text-align: center;
    margin-bottom: 70px;
}
.section2_description p {
    width: 45%;
    margin: 0 auto;
    font-size: 18px;
}
.section2_button {
    display: flex;
    justify-content: center;
}
.section2_button button{
    border: 1px solid transparent;
    outline: none;
    border-radius: 50px;
    background-color: #04c971;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 15px;
}

/* whyus section 3 */
.slider_container, .slide {
    width: 400px;
}
.slider_container {
    margin: 0 auto;
}
.slider {
    display: flex;
}
.slide {
    width: 400px;
    margin-right: 40px;
    text-align: center;
}
.slide_content {
    border:7px solid #f8f8f8;
    border-radius: 10px;
    color: #c3c3c3;
    transition: all 0.4s ease-in-out;
    padding: 50px 30px 40px 30px;
    position: relative;
}
.slide_content::before {
    content: "\f10d";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: -20px;
    left: 30px;
    padding: 0 4px 0 5px;
    color: #f8f8f8;
    background-color: #fff;
}
.slide_content p {
    /* margin-bottom: 5px; */
    line-height: 1.8;
}
.slide_content h4 {
    margin-bottom: 5px;
}
.slide_content .slide_content_designation {
    margin-bottom: 5px;
    color: #c5c5c5;
    font-size: 14px;
} 
.slide_active .slide_content{
    border:7px solid #7969ff;
    color: #3a3a3a;
}
.slide_active .slide_content::before {
    color: #7969ff;
}
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 20px;
}
.dot {
    margin: 0 5px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: #c2c2c2;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}
.dot_active {
    background-color: transparent;
    border:3px solid #7969ff;
    width: 15px;
    height: 15px;
}

/* -------------------------------------------------------- */
/* -------------------- MEDIA QUERY ----------------------- */
/* -------------------------------------------------------- */


@media screen and (max-width:767px) {
    .section2_description p {
        width: 80%;
    }
}

@media screen and (max-width:567px) {
    .slide {
        width: 100vw;
        margin: 0;
    }
    .slide_content {
        margin: 0 20px;
    }
    .slider_container {
        margin: 0;
    }
}