.title_section {
  margin-bottom: 50px;
}
.title p {
  color: #adadad;
  margin-bottom: 5px;
  font-size: 15px;
}
.para1 {
  color: #333!important;
  /* text-align:center; */
}

.submainDiv2 {
  margin-left: 45px;
  margin-top: 30px;
}
.bgFormContainer {
  border: 1px solid #f7ad16;
    background-color: #f7ad16;
    border-radius: 10px;
    padding: 30px 30px;
}
.bgFormContainer form {
  margin-bottom: 0;
}
/* .contentSub{
    
} */
.para2 {
  color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 15px;
    /* margin-top: -130px; */
    /* margin-left: -170px;*/
    margin-bottom: 10px;
}
.inputText {
  display: flex;
}
.inputItem {
    border-radius: 5px;
    background-color: #ffffff;
    color: gray;
    font-size: 12px;
    padding: 7px 20px;
    /* font-weight: bold; */
    font-weight: 500;
    width: 100%;
    border: 1px solid #ffffff;
    outline: none;
}
.inputItem::placeholder {
  font-weight: normal;
}
.auto_complete_textbox {
  position: relative;
}
.auto_complete_dropdown {
  position: absolute;
  background-color: #fff;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, .06);
  margin-top: 0px;
  width: 100%;
  z-index: 1;
}
.auto_complete_dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.auto_complete_dropdown ul li {
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 15px;
  cursor: pointer;
}
.auto_complete_dropdown ul li:hover {
  background-color: rgba(0, 0, 0, .1);
}
.auto_complete_dropdown ul li:last-child {
  border-bottom: none;
}
.auto_complete_dropdown li.active, .auto_complete_dropdown li:active {
  background-color: #1962ec!important;
  color: #fff!important;
}
.subBtn {
  background-color: #1962ec;
    border-radius: 5px;
    border: 1px solid #1962ec;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 100%;
    height: fit-content;
    outline: none;
    display: flex;
    padding-bottom: 5px;
    padding-top: 10px;
    justify-content: center;
}
.subBtn_text {
  margin-bottom: 0;
  position: relative;
}
.subBtn_text::before {
  content: "\f1d8";
  margin-right: 10px;
  font-family: "Font Awesome 5 free";
}
.img1 {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
}
.para3 {
  font-size: 15px;
  color: white;
  padding-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width:1200px) {
  .subBtn1 button{
    padding-left: 12px;
  }
}

@media screen and (max-width:992px) {
  .title {
    text-align: center;
  }
  .subBtn1 button {
    padding-left: 55px;
  }
}

@media screen and (max-width:767px){
  .subBtn1 button {
    padding-left: 20px;
  }
}

@media screen and (max-width:567px) {
  .inputText {
    display: flex;
    flex-direction: column;
  }
  .inputItem {
    margin-bottom: 15px;
    flex-basis: 100%;
  }
  .subBtn1 {
    flex-basis: 100%;
    width:170px;
    align-self: flex-end;
  }
}