@import "../../fonts/fontawesome-free-5.13.0-web/css/all.css";

.footer_bg {
  background-color: #071657;
  border: 1px solid #071657;
  margin: 0;
  padding: 80px 0 0;
  width: 100%;
  display: block;
}
.total {
  margin-right: auto;
  margin-left: auto;
}

.totalContent {
  padding: 0;
}
.row {
  margin-right: -65px;
  margin-left: -45px;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}
.row ::before {
  display: table;
  content: " ";
}
.row::after {
  clear: both;
}
.content {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 15px;
}
.logo {
  max-width: 350px!important;
}
.content2 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  /* padding-left: 15px; */
}
.fspace {
  background-color: transparent;
  border: 0 none;
  margin: 0 0 40px;
  overflow: hidden;
  padding: 0;
  display: block;
}
.header {
  border-bottom: 1px solid rgb(163, 150, 238);
  width: 100%;
  padding: 0 0 15px;
  margin: 0 0 40px;
  display: block;
  text-align: left;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}
.title {
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  padding-bottom: 0px;
  font-size: 24px;
  display: block;
  font-family: inherit;
  line-height: 1.6;
}
.total span {
  background-color: #E8505C;
  display: block;
  height: 4px;
  margin: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  /* text-align: left; */
  width: 30px;
}
.total img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
  margin-bottom: 0px;

  /* vertical-align: middle; */
}
/* .gallImg img{
  margin-bottom: 0px;
} */
.total li:last-child {
  border-bottom: none;
}
.address {
  margin-bottom: 0;
  margin-top: 25px !important;
  padding-bottom: 0;
  overflow: hidden;
}
.icon {
  color: #f5f5f5;
  float: left;
  margin-left: 0;
  margin-right: 15px;
  transition: all 0.4s ease 0s;
}
.address .icon i::before {
  padding-left: 1px;
  font-size: 24px;
  display: inline-block;
  color: #f5f5f5;
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
}
.mediaBody {
  display: table-cell;
  vertical-align: top;
  width: 10000px;

  overflow: hidden;
}
.addr {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  color: #f5f5f5;
  margin: 0 0 20px;
  line-height: 27px;
}
.addr1 {
  border-bottom: 1px dotted #6e6d75;
  color: #f5f5f5;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: help;
}
.mail {
  color: #f5f5f5;
}
.mail i {
  font-size: 19px;
  margin-right: 15px;
}
.mail a {
  border-bottom: 1px dotted #6e6d75;
  text-decoration: none;
  color: inherit;
}
.links {
  display: flex;
  padding: 20px 0;
}
.link {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  margin-right: 10px;
  color: #071657;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  color: inherit;
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.li1 {
  width: 100%;
  border-bottom: 1px dotted #403f4e;
  border-top: 0 none;
  padding-top: 0;
  color: #f5f5f5;
  font-weight: 500;
  /* border-bottom: 1px dotted #c5d1dc; */
  margin: 0 0 12px;
  padding: 0px 0px 12px 25px;
  position: relative;
  display: list-item;
}
.a1 {
  border: 0 none;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 300;
  color: #f5f5f5;
  font-size: 16px;
}
.a1:hover {
  color: #e8505c;
}
.gallery {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.gall1 {
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  color: #f5f5f5;
  display: block;
  flex-basis: calc(100% / 3);
}

.gall2 {
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.42857143;
  display: block;
}
.gallImg {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.gallery .gall2 img {
  /* height: auto;
    max-width: 30%; */
    height: 80px;
    width: 100px;
    padding: 0;
    border: 5px solid #fff !important;
    box-shadow: 0 0 5px 2px rgba(33, 28, 28, 0.3);
    display: block;
    margin-bottom: 0px;
  /* width: 696px; */
}
/* .img{
  
} */
.gallTxt {
  margin-left: 0;
  font-size: 14px;
  margin: 12px 0;
  text-align: start;
  font-style: italic;
  line-height: 1.5em;
  color: #f5f5f5;
  width: 100%;
}
.info {
  border-top: 1px dotted #403f4e;
  padding: 25px 0;
  text-align: center;
}
.info p {
  color: #c4c4c4;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 400;
}
.info a {
  color:inherit;
  text-decoration: none;
  border-bottom: 1.3px dotted;
}

/* ----------MEDIA-QUERY----------- */
@media screen and (max-width:576px) {
  .gall2 img {
    width: 95%!important;
    height: auto!important;
  }
}