.layout--row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.layout_lg_1,
.layout_lg_2,
.layout_lg_3,
.layout_lg_4,
.layout_lg_5,
.layout_lg_6,
.layout_lg_7,
.layout_lg_8,
.layout_lg_9,
.layout_lg_10,
.layout_lg_11,
.layout_lg_12,
.layout_md_1,
.layout_md_2,
.layout_md_3,
.layout_md_4,
.layout_md_5,
.layout_md_6,
.layout_md_7,
.layout_md_8,
.layout_md_9,
.layout_md_10,
.layout_md_11,
.layout_md_12,
.layout_sm_1,
.layout_sm_2,
.layout_sm_3,
.layout_sm_4,
.layout_sm_5,
.layout_sm_6,
.layout_sm_7,
.layout_sm_8,
.layout_sm_9,
.layout_sm_10,
.layout_sm_11,
.layout_sm_12,
.layout_xs_1,
.layout_xs_2,
.layout_xs_3,
.layout_xs_4,
.layout_xs_5,
.layout_xs_6,
.layout_xs_7,
.layout_xs_8,
.layout_xs_9,
.layout_xs_10,
.layout_xs_11,
.layout_xs_12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* ----------------------------------- */
/* =========== MEDIA QUERY =========== */
/* ----------------------------------- */
@media screen and (min-width: 992px) {
  .layout_lg_1 {
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .layout_lg_2 {
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .layout_lg_3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .layout_lg_4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .layout_lg_5 {
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .layout_lg_6 {
    flex-basis: 0 0 50%;
    max-width: 50%;
  }
  .layout_lg_7 {
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .layout_lg_8 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .layout_lg_9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .layout_lg_10 {
    flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .layout_lg_11 {
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .layout_lg_12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .order_lg_first {
    -ms-flex-order: -1;
    order: -1
  }
  .order_lg_last {
    -ms-flex-order: 13;
    order: 13
  }
  .order_lg_0 {
    -ms-flex-order: 0;
    order: 0
  }
  .order_lg_1 {
    -ms-flex-order: 1;
    order: 1
  }
  .order_lg_2 {
    -ms-flex-order: 2;
    order: 2
  }
  .order_lg_3 {
    -ms-flex-order: 3;
    order: 3
  }
  .order_lg_4 {
    -ms-flex-order: 4;
    order: 4
  }
  .order_lg_5 {
    -ms-flex-order: 5;
    order: 5
  }
  .order_lg_6 {
    -ms-flex-order: 6;
    order: 6
  }
  .order_lg_7 {
    -ms-flex-order: 7;
    order: 7
  }
  .order_lg_8 {
    -ms-flex-order: 8;
    order: 8
  }
  .order_lg_9 {
    -ms-flex-order: 9;
    order: 9
  }
  .order_lg_10 {
    -ms-flex-order: 10;
    order: 10
  }
  .order_lg_11 {
    -ms-flex-order: 11;
    order: 11
  }
  .order_lg_12 {
    -ms-flex-order: 12;
    order: 12
  }
  .offset_lg_0 {
      margin-left: 0
  }
  .offset_lg_1 {
      margin-left: 8.333333%
  }
  .offset_lg_2 {
      margin-left: 16.666667%
  }
  .offset_lg_3 {
      margin-left: 25%
  }
  .offset_lg_4 {
      margin-left: 33.333333%
  }
  .offset_lg_5 {
      margin-left: 41.666667%
  }
  .offset_lg_6 {
      margin-left: 50%
  }
  .offset_lg_7 {
      margin-left: 58.333333%
  }
  .offset_lg_8 {
      margin-left: 66.666667%
  }
  .offset_lg_9 {
      margin-left: 75%
  }
  .offset_lg_10 {
      margin-left: 83.333333%
  }
  .offset_lg_11 {
      margin-left: 91.666667%
  }
}

@media screen and (min-width: 767px) {
  .layout_md_1 {
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .layout_md_2 {
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .layout_md_3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .layout_md_4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .layout_md_5 {
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .layout_md_6 {
    flex-basis: 0 0 50%;
    max-width: 50%;
  }
  .layout_md_7 {
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .layout_md_8 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .layout_md_9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .layout_md_10 {
    flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .layout_md_11 {
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .layout_md_12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 567px) {
  .layout_sm_1 {
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .layout_sm_2 {
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .layout_sm_3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .layout_sm_4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .layout_sm_5 {
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .layout_sm_6 {
    flex-basis: 0 0 50%;
    max-width: 50%;
  }
  .layout_sm_7 {
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .layout_sm_8 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .layout_sm_9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .layout_sm_10 {
    flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .layout_sm_11 {
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .layout_sm_12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width:567px) {
  .layout_xs_1 {
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .layout_xs_2 {
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .layout_xs_3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .layout_xs_4 {
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .layout_xs_5 {
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .layout_xs_6 {
    flex-basis: 0 0 50%;
    max-width: 50%;
  }
  .layout_xs_7 {
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .layout_xs_8 {
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .layout_xs_9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .layout_xs_10 {
    flex-basis: 83.333333%;
    max-width: 83.333333%;
  }
  .layout_xs_11 {
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .layout_xs_12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}