:root {
    --background-color:#071657
}
.bg_color {
    background-color: #f4f9ff;
    padding-bottom: 150px;
    position: relative;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0); */
    /* clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 68% 94%, 34% 100%, 0 95%, 0% 35%, 0 0); */
}
.bg_color::after {
    content: "";
    background-image: url("../../images/wave-bottom.svg");
    background-repeat: repeat-x;
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0px;
    background-size: 550px;
    background-position: bottom;
}
/* hero */
.hero_background_color {
    width: 100%;
    height: calc(100vh - 67px);
    min-height: 600px;
    max-height: 620px;
    background-color: var(--background-color);
    margin-bottom: 67px;
}
.hero_background {
    content: "";
    height: calc(100% + 67px);
    max-width: 1360px;
    margin: 0 auto;
    position: relative;
}
.hero_background_image {
    position: absolute;
    background: url("../../images/hero-image.png") no-repeat;
    background-position-x: right;
    background-size: 78% auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: slideDown 1.7s ease-out;
}
.title {
    margin-bottom: 50px;
    color: #fff;
}
.title h1 {
    /* color: #adadad; */
    font-weight: 500;
    font-size: 50px;
}
.title p {
    font-size: 17px;
    margin-bottom: 0px;
    width: 65%;
}
.contact_button, .course_button {
    border: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    margin-right: 20px;
}
.course_button {
    background-color: #f5b015;
}
.contact_button {
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, .25);
}

/* content */
.content_title {
    color: #333333;
}
.content_title h1{
    /* font-size: 46px; */
    margin-bottom: 30px;
}
.content_para {
    border-left: 1px solid rgba(0, 0, 0, .50);
    padding-left: 20px;
    font-size: 16px;
    width: 90%;
    margin-bottom: 0;
}
.content_card_container {
    background-color: #fff;
    padding: 30px 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.content_card_container p {
    font-size: 15px;
    margin: 0;
    width: 50%;
    text-align: center;
}
.content_mask_container, .content_mask {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}
.content_mask {
    mask-repeat: no-repeat;
    mask-size: 65px 65px;
    /* background-color: #333333; */
}
.content_card_container:hover .content_mask_container .content_mask {
    background-color: #ffffff;
}
.content_card_container:hover {
    color: #ffffff;
}
.mask_certificate {
    color: #0acc86;
}
.mask_certificate .content_mask_container .content_mask{
    mask-image: url("../../images/course.svg");
    background-color: #0acc86;
}
.mask_certificate:hover {
    background-color: #0acc86;
}
.mask_study {
    color: #f5b015;
}
.mask_study .content_mask_container .content_mask{
    mask-image: url("../../images/demo_images/study.svg");
    background-color: #f5b015;
}
.mask_study:hover {
    background-color: #f5b015;
}
.mask_conference {
    color: #f10f10;
}
.mask_conference .content_mask_container .content_mask {
    mask-image: url("../../images/demo_images/conference.svg");
    background-color: #f10f10;
}
.mask_conference:hover {
    background-color: #f10f10;
}

/* ------------------------------------- */
/* ------------ MEDIA_QUERY ------------ */
/* ------------------------------------- */
@keyframes slideDown {
    from { transform: translateY(-100px);opacity: 0; }
    to { transform: translateY(0);opacity: 1; }
}

/* ------------------------------------- */
/* ------------ MEDIA_QUERY ------------ */
/* ------------------------------------- */
@media screen and (max-width:992px) {
    .hero_background_color {
        height: auto;
        min-height: inherit;
        max-height: inherit;
    }
    .hero_background {
        padding: 70px 0;
        padding-top: 170px;
    }
    .hero_background_image {
        background-size: 100% auto;
    }
    .content_title  {
        margin-bottom: 70px;
    }
    .title {
        text-align: center;
    }
    .title p {
        width: 95%;
        margin: 0 auto;
    }
    .title h1 {
        font-size: 45px;
    }
    .button_container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .course_button, .contact_button {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .content_title {
        text-align: center;
    }
    .content_para {
        text-align: start;
    }
}

@media screen and (max-width:767px) {
    .hero_background_image {
        background-size: cover;
        background-position: bottom;
    }
    .content_card_container {
        margin-bottom: 50px;
        height: auto;
    }
}
@media screen and (max-width:576px) {
    .title {
        background-color: rgba(0, 0, 0, .30);
        padding: 10px 0;
    }
    .title p {
        line-height: 1.6;
    }
}